<!-- One -->
<section id="one" class="wrapper style1 special">
    <div class="inner">
        <header class="major">
            <h2>Welcome</h2>
            <p>
                If you are interested in my books, you can find them below. For
                professional inquiries, I would suggest you reach out to me
                through <a href="https://linkedin.com/in/tnagpal">LinkedIn</a>.
                I am currently volunteering extensively for the Harris-Walz
                campaign.
            </p>
        </header>
    </div>
</section>
