<!-- Three -->
<section id="three" class="wrapper style3 special">
	<div class="inner">
		<header class="major">
			<h2>Contact me</h2>
				<form action="" method="post">
					<label>Email</label>
					<input type="email" placeholder="Email" name="" required>

					<label>Subject</label>
					<input type="text" placeholder="Subject" name="">
				
					<label>Message</label>
					<textarea rows="5" placeholder="Message" name="" required></textarea>
				
					<button type="submit">Send</button>
			</form>
		</header>
	</div>
</section>
